In [4]:
import pandas as pd

In [14]:
penguin = pd.read_csv('penguins_cleaned.csv')

In [15]:
data = penguin.copy()

In [16]:
target = 'species'

In [17]:
encode = ['sex','island']

In [19]:
data.tail()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
328,Chinstrap,Dream,55.8,19.8,207,4000,male
329,Chinstrap,Dream,43.5,18.1,202,3400,female
330,Chinstrap,Dream,49.6,18.2,193,3775,male
331,Chinstrap,Dream,50.8,19.0,210,4100,male
332,Chinstrap,Dream,50.2,18.7,198,3775,female

In [20]:
for col in encode:
    dummy = pd.get_dummies(data[col], prefix=col)
    data = pd.concat([data,dummy], axis=1)
    del data[col]

In [21]:
data

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex_female,sex_male,island_Biscoe,island_Dream,island_Torgersen
0,Adelie,39.1,18.7,181,3750,False,True,False,False,True
1,Adelie,39.5,17.4,186,3800,True,False,False,False,True
2,Adelie,40.3,18.0,195,3250,True,False,False,False,True
3,Adelie,36.7,19.3,193,3450,True,False,False,False,True
4,Adelie,39.3,20.6,190,3650,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...
328,Chinstrap,55.8,19.8,207,4000,False,True,False,True,False
329,Chinstrap,43.5,18.1,202,3400,True,False,False,True,False
330,Chinstrap,49.6,18.2,193,3775,False,True,False,True,False
331,Chinstrap,50.8,19.0,210,4100,False,True,False,True,False
332,Chinstrap,50.2,18.7,198,3775,True,False,False,True,False

In [22]:
target_mapper = {'Adelie':0, 'Chinstrap':1, 'Gentoo':2}

In [23]:
def target_encode(val):
    return target_mapper[val]

In [24]:
data['species'] = data['species'].apply(target_encode)

In [25]:
data

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex_female,sex_male,island_Biscoe,island_Dream,island_Torgersen
0,0,39.1,18.7,181,3750,False,True,False,False,True
1,0,39.5,17.4,186,3800,True,False,False,False,True
2,0,40.3,18.0,195,3250,True,False,False,False,True
3,0,36.7,19.3,193,3450,True,False,False,False,True
4,0,39.3,20.6,190,3650,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...
328,1,55.8,19.8,207,4000,False,True,False,True,False
329,1,43.5,18.1,202,3400,True,False,False,True,False
330,1,49.6,18.2,193,3775,False,True,False,True,False
331,1,50.8,19.0,210,4100,False,True,False,True,False
332,1,50.2,18.7,198,3775,True,False,False,True,False

In [26]:
X = data.drop('species', axis=1)
Y = data['species']

In [29]:
X

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex_female,sex_male,island_Biscoe,island_Dream,island_Torgersen
0,39.1,18.7,181,3750,False,True,False,False,True
1,39.5,17.4,186,3800,True,False,False,False,True
2,40.3,18.0,195,3250,True,False,False,False,True
3,36.7,19.3,193,3450,True,False,False,False,True
4,39.3,20.6,190,3650,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...
328,55.8,19.8,207,4000,False,True,False,True,False
329,43.5,18.1,202,3400,True,False,False,True,False
330,49.6,18.2,193,3775,False,True,False,True,False
331,50.8,19.0,210,4100,False,True,False,True,False
332,50.2,18.7,198,3775,True,False,False,True,False

In [30]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
328    1
329    1
330    1
331    1
332    1
Name: species, Length: 333, dtype: int64

In [31]:
# Model NBC
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X, Y)

GaussianNB()

In [ ]:
# Menyimpan Model NBC